<html style="font-family: sans-serif">
    <strong style="font-size: 24px;">Report's status has been changed.</strong>
    <br><br>
    <table>
        <tr>
            <td><strong>Campaign Name:</strong></td>
            <td>{{campaign_name}}</td>
        </tr>
        <tr>
            <td><strong>Group:</strong></td>
            <td>{{group}}</td>
        </tr>
        <tr>
            <td><strong>Status:</strong></td>
            <td>{{old_status}}&nbsp;&nbsp;&#8594;&nbsp;&nbsp;<strong>{{new_status}}</strong></td>
        </tr>
        <tr>
            <td><strong>Authors:</strong></td>
            <td>{{authors}}</td>
        </tr>
        <tr>
            <td><strong>Updated at:</strong></td>
            <td>{{updated_at_string}}</td>
        </tr>
    </table>
    <br><br>
    <strong style="font-size: 24px;">Description.</strong>
    <div style="font-family: sans-serif;border: rgb(199, 199, 199) 2px solid;padding: 10px 8px;border-radius: 8px;">
        {{content}}
    </div>
</html>