<html style="font-family: sans-serif">
    <strong style="font-size: 24px;">{{name}} has been signed off.</strong>
    <br><br>
    <table>
        <tr>
            <td><strong>Campaign Name:</strong></td>
            <td>{{name}}</td>
        </tr>
        <tr>
            <td><strong>Status:</strong></td>
            <td>Signed Off</td>
        </tr>
        <tr>
            <td><strong>Target Release:</strong></td>
            <td>{{target_release}}</td>
        </tr>
        <tr>
            <td><strong>Reference Release:</strong></td>
            <td>{{reference_release}}</td>
        </tr>
        <tr>
            <td><strong>Target Groups:</strong></td>
            <td>{{target_groups}}</td>
        </tr>
        <tr>
            <td><strong>Deadline:</strong></td>
            <td>{{deadline_string}}</td>
        </tr>
        <tr>
            <td><strong>Updated at:</strong></td>
            <td>{{updated_at_string}}</td>
        </tr>
    </table>
    <br>
    <strong>Description:</strong>
    <br>
    <span style="color:rgb(134, 134, 134);">{{description}}</span>
</html>