.MuiButtonBase-root :not(.MuiButtonGroup-grouped) {
  box-shadow: none !important;
}

.MuiListItem-root {
  border-radius: 8px !important;
}

.MuiButton-contained {
  box-shadow: none !important;
}

.MuiButtonBase-root.MuiButton-containedPrimary {
  box-shadow: rgb(100 100 111 / 20%) 0px 6px 10px 0px !important;
}

.MuiTableCell-head { 
  font-size: 16px !important;
  font-weight: bold !important;
  height: 2rem !important;
}

.MuiTableCell-root {
  padding: 0.5rem 1rem !important;
}

.large-text-field input {
  font-size: 26px;
}

.MuiChip-root {
  height: 26px !important;
}

.MuiInputBase-root {
  background: #ffffff !important;
}

.MuiPaper-root :not(.MuiAccordion-root){
  border-radius: 8px !important;
}

.Mui-selected {
  background: rgb(226, 234, 255) !important;
  color: rgb(35, 77, 247) !important;
}

.ant-btn {
  background: #e5e5e5 !important;
  border-radius: 4px;
  font-weight: bold;
}

.ant-btn-dangerous {
  background: #f5222d !important;
  color: white !important;
}

.ant-btn-primary {
  background: #234df7 !important;
  border-color: #234df7;
  color: white !important;
}

.ant-btn:hover {
  border: white solid 1px !important;
  color: black !important;
}

.ant-btn-primary:hover {
  color: white !important;
}

.ant-btn-dangerous:hover {
  color: white !important;
}

.ant-modal-content {
  border-radius: 8px !important;
}

.ant-modal-confirm-content {
  margin-top: 2rem !important;
}

.ant-modal.ant-modal-confirm.ant-modal-confirm-confirm {
  width: 800px !important;
}

h1 { 
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.37em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.4em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h3 { 
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h4 { 
  display: block;
  margin-top: 1.33em;
  margin-bottom: 0.8em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h5 { 
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h6 { 
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

a {
  color: #234df7;
}

a:hover {
  color: #5678ff;
  text-decoration: underline;
}


input {
  background: #ffffff !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
